$primary-color:#1078AD;
$secondary-color:#F4CF1B;
$other-color:#96C5DC;
$number-color:#369D53;


*{
    text-decoration: none;
    list-style-type:none ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}