$primary-color:#1078AD;
$secondary-color:#F4CF1B;
$other-color:#96C5DC;
$number-color:#369D53;
$text-color:#7F7F7F;


*{
    text-decoration: none;
    list-style-type:none ;
    font-family: 'Cairo', sans-serif;
    
}