@import "config";


.header{
    width: 100%;

    img{
        margin-left: 16px;
        margin-top: 5px;
        height: 80px;
        width: 70px;
    }
    &__nav{
        height: 90px;
        display: flex;
        justify-content: space-between;
        padding: 5px 8px;
        width: 100%;
        background:url(../../../Design/Assets/png/bar.png);
        ul{
            display: flex;
            margin: 5px 15px;
            font-size:1.5em;
            font-weight: 700;
            justify-items: center;
            margin-right: 35px;
            li{
                padding: 15px;
                a{
                    padding: 0px;
                    width: 100px;
                }
                     .arabic{
                        
                        height: 30px;
                        margin-top: 25px;
                        border-radius: 10px;
                        background-color: transparent;
                        padding-right:35px;
                        
                        border: 2px solid $primary-color;
                        color:$primary-color ;
                        
                        i{
                            color: gold;
                            font-size: 20px;
                            
                            

                        }
                    }
        
                }
            
            }

    }
    
    &__info{
        width: 100%;
        background-color: $secondary-color;
        height:140px;
        padding: 1em;
        text-align: center;
        
        line-height: 1em;
        h3{
            font-weight: bolder;
            font-size: 1.8em;
            margin-top: 0em;
            padding: 0;

        }
        
        
        p{
            color:$primary-color;
            font-size: 1.5em;
            line-height: 1.5em;
            
        }

   }
}

////

.hero{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    height: 35em;
    padding: 1em;
    
    &__image{
        width: 46%;
        
        img{
            height: 35em;
            padding: 1em;
            
        }
    }
    &__text{
        text-align: center;
        width: 50%;
        line-height: 2.8em;
        img{
            padding: 0;

        }
        &--color{
            color: $primary-color;
            font-weight: bolder;
            font-size: 2.8em;
            
        }
        &--étapes{
           
            font-size: 2.3em;
            color: $text-color;
        }
    }
    &__btn {
        
        background-color: $primary-color;
        padding: 0.4em 20em;
        border-radius: 10px;
        cursor: pointer;

        a {
            color: white;
            font-size: 1.2em;

        }

    
        
    }

}
