
.protége{
    line-height: 1.5;
    .protége__title{
        text-align: center;
        color: $primary-color;
        font-size: 30px;
    }
    .protége__kinds{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
         margin: 0px 200px;
         color: $primary-color;
    }
    .protége__home{
        text-align: center;
        margin-top: 20px;
        color: $primary-color;
       
    }

}
.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:$other-color;
    &__half1{
        text-align: center;
        font-size:30px ;
        &__title{
            color: $primary-color;
        }
        &__text{
            color:$primary-color;
            font-weight: 900;
        }
    }
    &__more-info button{
        background-color:$primary-color;
        font-weight: 900;
        border-radius: 7px;
        border: none;
        color: white;
        font-size: 16px;
        padding: 14px 40px;
        width: 250px;
        text-align: center;

    }
}
