


.reco{
    width: 100%;
    background-color: $primary-color;
    h1{
        text-align: center;
        padding-top:30px;
        color: $other-color;
        margin-top: 1em;
        font-size: 2.5em;
    }
    
    .parts{
        display: flex;
        justify-content: space-around;
        padding-top: 1em;
        

    
    &__list{
        width: 60%;
        
        ul{
            color: white;
            font-size: 2.3em;
            line-height: 1.5em;
         
            p{
              color: black;
    
        }}}
     &__contact{
         
         margin-right: 20%;
         text-align: center;
         line-height:5em;
         align-items: center;
       
         h2{
            color: $secondary-color;
            font-weight: bold;
            font-size: 30px;
            
         }
         .btn{
             width: 300px;
            background-color:$secondary-color;
            height: 28px;
            color:$primary-color;
            font-weight:bold;
            border-radius: 3px;
            padding-bottom: 2em ;
            font-size: 35px;
            
            
            

        }
        a{
            color: #fff;
            border-bottom: solid $secondary-color;
            font-size: 30px;
        }

     }   



    }}