.cerclebar {
    width: 30%;
    margin: 50px auto 100px;
    border-radius: 1em;
   text-align: center;
    
    .cercle {
        display: flex;
        flex-direction: center;
        justify-content: space-between;
        &__item {
            list-style-type: none;
            color:$parag-color ;
            font-size:large ;
            font-weight:700;
            text-align: center;
            width: 30%;
            position: relative;
            
            
            &:before {

                content:"";
                width:20px;
                height:20px;
                border-radius:20px;
                background-color: $other-color;
                z-index: -1;
                display: block;
               
                
            }
            &--active{
                &::before{
                    background-color:$secondary-color;
                }
                &::after{
                     position :absolute;
                     top:-10px ;
                     left:-10px ;
                   

                    content:"";
                    width:40px;
                    height:40px;
                    border-radius:40px;
                    background-color: $primary-color;
                    z-index: -1;

                }
            }
        }
    }
}


.préambule{
    display: block;
    .text{
       padding: 40px;
       background-color: $other-color;
       margin: 50px auto;
       width: 80%;
       color: #000;
       text-align: center;
       border-radius: 10px;
       h3{
        color: $parag-color;
        font-size: 2em;
        font-weight: 700;

       }
       P{
        font-size:large;
        font-weight:bold;
       }
     
     hr{
        border: 1px solid $secondary-color;
        width: 40%;
        margin: 10px auto;
     }
    }
    .test{
        
           text-align: center;
            width: 150px;
            margin: 0 auto;
            height: 60px;
            background-color: transparent;
            

         #demarer{background-color:$primary-color;
              width: 200px;
              color:$blanch-color;
              height: 130px;
              font-size: 1em;
         }
    }
 
  
}

    

.global{ 
    text-align: center;
    display: none;
    color: $other-color;
    font-size: small;
    

    .progressbar-global{
        display: flex;
        flex-direction: row;
        width:40%;
        margin: 0 auto;
        .conteur{
            width: 10%;
            margin: 0 auto ;
            color: #000;
            
        }
        .progressbar{
            width: 90%;
            height: 20px;
            border: 1px solid  $other-color;
            background-color: $other-color;
            margin:  auto;
            border-radius: 13px;
            
            .progress{
                font-size: large;
                font-weight: 700;
                height: 21px;
                background-color: $primary-color;
                border-radius: 13px;
                
                
                
    
            }


    }
    

    }
   .question_1{
     padding: 10px;
     background-color: $secondary-color;
     margin: 30px auto;
     width: 80%;
     color:$parag-color;
     text-align: center;
     border-radius: 10px;
     h3{
        color: $parag-color;
        font-size:40px;
        font-weight: 700;
    }
     P{
        font-size:20px;
        font-weight:bold;
        text-align: left;
        margin-left:20px;

    
    }  

}
   .button{
      
       display: flex;
       justify-content: space-around;
       margin-bottom: 30px;
       padding-top: 60px;
      .btn{
        width: 150px;
        height:40px;
        border:1px  solid $primary-color;
        border-radius: 5px;
        background-color: $primary-color;
        font-size: small;
        font-weight: 700;
        color: $blanch-color;


      }
   
   
   }

}

.questionnaire{
    color:$text-color;
    font-size: 2em;
    text-align: center;
    padding-top:100px;
    padding-bottom: 80px;
}

.resultat{
    display: none;
    .h3{
        text-align: center;
        color:#fff;
        font-size: large;
        font-weight:600 ;
    }
    .result{
        padding: 40px;
       background-color: $other-color;
       margin: 50px auto;
       width: 80%;
       color: #000;
       text-align: center;
       border-radius: 10px;
       h3{
        color: $other-color;
        font-size: large;
        font-weight: 700;

     }    
        P{
        font-size:small;
        font-weight:bold;
    }

  }
  .reprendre{
      margin-bottom: 30px;
      margin-left: 600px;
      
      
      .reprend{
        width: 150px;
        height:40px;
        border:1px  solid $primary-color;
        border-radius: 5px;
        background-color: $primary-color;
        font-size: small;
        font-weight: 700;
        color: $other-color;
        
        

      }
  }


    
}
 #précédent{
    display: none;
}

    
  
